// from https://github.com/Lazzzer00/Best-CSS-Reset-2024 - modified slightly

*, *::before, *::after{
    box-sizing: border-box; /* Set the sizing of an element to include it's border */
}

*{
    margin: 0; /* Set the default margin to 0 */
    padding: 0; /* Set the default padding to 0 */
}

ul[role='list'], ol[role='list']{
    list-style: none; /* Turn off numbered and unordered list decoration */
}

html:focus-within{
    scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

img, picture, svg, video, canvas{
    max-width: 100%; /* Makes it responsive */
    height: auto; /* Makes it responsive */
    vertical-align: middle; /* Makes text next to inline images look better */
    font-style: italic; /* If the images don't load it makes the alt decription look better */
    background-repeat: no-repeat; 
    /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; /* Makes these elements inherit fonts */
}

body, html{
    scroll-behavior: smooth; /* Makes normal scrolling smooth */
}